<p>
    <dl>
        <dt>Name</dt>
        <dd><%= @type_object.name %>
        <dt>Description</dt>
        <dd><%= @type_object.description %>
    </dl>
</p>

<%= render :partial => "shared/type_links" %>