<h2><%= I18n.t("authentication.sign_in") %></h2>

<%= render :partial => "authentications/shared/signup", :locals => {:action => I18n.t("authentication.sign_in")} %>

<%= render :partial => "devise/shared/links" %>